<launch>
    <!-- Declare a parameter for the node -->
    <!-- <param name="example_param" type="str" value="custom_value"/> -->

    <!-- Run the example node -->
    <node name="reynolds_part_1" pkg="mrs-r1" type="reynolds.py" output="screen">
        <rosparam file="$(find mrs-r1)/params.yaml"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mrs-r1)/rviz/vis.rviz"/>

</launch>