<launch>
    <!-- Declare a parameter for the node -->
    <!-- <param name="example_param" type="str" value="custom_value"/> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find reynolds_swarm_sim)/rviz/vis.rviz"/>

    <!-- Run the example node -->
    <arg name="node_start_delay" default="2.0" />  
    <node name="reynolds_part_1" pkg="reynolds_swarm_sim" type="reynolds.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <rosparam file="$(find reynolds_swarm_sim)/params.yaml"/>
    </node>


</launch>